# Deployment related files should have a PATS code review
Dockerfile                      @ca-mmis/platform-and-tools-section 
helm/hello-cammis/*             @ca-mmis/platform-and-tools-section 
helm/hello-cammis/templates/*   @ca-mmis/platform-and-tools-section 
.circleci/*                     @ca-mmis/platform-and-tools-section
.github/CODEOWNERS              @ca-mmis/platform-and-tools-section

